@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-secondary {
    @apply bg-bgPrimary text-mainYellow border border-mainYellow hover:bg-mainYellow hover:text-black w-20 px-2 py-1 rounded text-sm;
}

.custom-scrollbar {
    @apply overflow-x-auto;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    @apply h-1.5 bg-transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-bgSecondary rounded-full;
  }
  
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    @apply bg-bgSecondary;
  }